*.pidb
*.exe
bin/
*.userprefs
tests/output
src/generator/generator
*.pc
.DS_Store
*.user
*.suo
*.DotSettings
*.sdf
*.opensdf
*.pdb
*.config
*.filters
*.metagen
*.ilk
*.manifest
*.tmp
*.cache
*.force

/.vs
/.vscode

# Nuget: do not include produced packages
/build/nuget/*.nupkg
/build/nuget/tools/*
build/
**/obj